@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+HU:wght@100..400&display=swap');


body{
    font-family: "Open Sans", sans-serif;
}

.text-galing{
     
     font-family: "Playwrite HU", cursive;
}

.text-men{
    font-family: "Montserrat", sans-serif;
}


.garisbawah{
    position: relative;
    display: inline-block;
}

.garisbawah::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #3238e1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.garisbawah:hover::after {
    transform: scaleX(1);
}

.garisbawah.active::after {
    transform: scaleX(1);
}